<template>
  <div>
    <div id="toggles">
      <input type="checkbox" name="checkbox1" id="checkbox1" class="toggleBtn"/>
      <label for="checkbox1" class="checkboxLabel" data-off="关闭弹窗" data-on="打开弹窗"></label>
    </div>
    <!-- ismove="true" -->
    <my-modal :visible="vstate" data-title="这是一个web组件modal框" controlmove="true" controlfullscreen="true"
      >
      <div slot="J_con">这是内容</div>
    </my-modal>
  </div>
</template>

<script>
import './modalWeb.js';
export default {
  name: 'modal',
  data () {
    return {
      msg: '这是一个弹窗组件',
      vstate: 'false'
    }
  },
  mounted() {
    const self = this;
    const openBtn =document.getElementById('checkbox1');
    const myModalDom = document.querySelector('my-modal');
    myModalDom.onclick = function(e) {
      // 打开弹窗
      if (e.target.getAttribute('visible') === 'true') {
        openBtn.checked = 'checked'
      } else {
        openBtn.checked = ''
      }
    }

    // 打开弹窗
    openBtn.onclick = function(e) {
      if (e.target.checked) {
        self.vstate = 'true';
      } else {
        self.vstate = 'false';
      }
    }

    // 需要在这里写监听，不能直接在dom上绑定
    myModalDom.oncancel = function(e) {
      self.handleCancel();
    }

    myModalDom.onsubmit = function(e) {
      self.handleSure();
    }
  },
  methods: {
    // shadow dom 里面的回调
    handleSure() {
      console.log('确认');
      this.vstate = 'false';
    },
    handleCancel() {
      console.log('取消');
      this.vstate = 'false';
    }
  }
}
</script>

<style scoped>
*,
*:before,
*:after {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  outline: none;
  font-family: Helvetica Neue, helvetica, arial, verdana, sans-serif;
}

#toggles {
  width: 60px;
  margin: 50px auto;
  text-align: center;
}
.toggleBtn,
.toggleBtn:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}
.checkboxLabel {
  display: block;
  position: relative;
  padding: 10px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer;
}
.checkboxLabel:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;

  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}
.checkboxLabel:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -318px;
  margin: 0;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: #bfbfbf;
  white-space: nowrap;
}
.toggleBtn:checked + .checkboxLabel {
  -webkit-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
}
.toggleBtn:checked + .checkboxLabel:before {
  left: calc(100% - 36px);

  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
}
.toggleBtn:checked + .checkboxLabel:after {
  content: attr(data-on);
  left: 60px;
  width: 36px;
}

#checkbox1 + .checkboxLabel {
  -webkit-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
  -moz-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkboxLabel {
  -webkit-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1),
    0 0 0 2px rgba(19, 191, 17, 1);
}
#checkbox1:checked + .checkboxLabel:after {
  color: rgba(19, 191, 17, 1);
}
</style>
